.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0dc7ec;
    min-height: 100vh;
}

.my-container {
    padding: 40px 70px;
    min-width: 1000px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.308) 0px 0px 8px;
}

.second-button {
    color: white;
    background-color: #1363DF;
}

.second-button:hover {
    color: #1363DF;
    background-color: transparent;
    border-color: #1363DF;
}

.invoice-text {
    text-align: center;
    font-size: 40px;
    color: gray;
}